.wrraper {
    display: grid;
    gap: 1rem;
    width: 280px;
    font-size: medium;
    background-color: white;
    padding: 1rem;
}
.wrraper > label{
    color: cornflowerblue;
    font-weight: 600;
}

.group {
    border: 1px solid lightgray;
    padding: 1rem;
    display: grid;
    justify-items: center;
    padding: 1rem 0;
}
